body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 80px 0 0; /* Top padding to make space for the fixed header */
    display: flex;
    justify-content: center;
    align-items: center;
    height:90vh;
    background-color: #f0f0f0;
    flex-wrap: wrap;
}

.dropdown{
    min-width: 10em;
    position: relative;
    margin: 2em;
}


.dropdown *{
    box-sizing: border-box;
}

.select{
    background: #2a2f3b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked{
    border: 2px #26489a solid;
    box-shadow: 0 0 0 0.8em #26489a;
}

.select:hover{
    background: #323741;
}

.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate{
    transform: rotate(180deg);
}

.menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.3s;
    z-index: 1;
}

.SquareContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.container, .inputContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu li{
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover{
    background: #2a2d35;
}


.active{
    background: #23242a;
}

.menu-open{
    display: block;
    opacity: 1;
}

.calculator {
    background-color: #fff;
    padding: 100px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}

.binary-input {
    width: 300px;
    padding: 20px;
    margin-top: 5px;
    text-align: center; /* Align text inside input to the right */
    justify-self: flex-end; /* Align input box to the right */
}

.optionsAgain{
    display: flex;
    justify-content: right;
    align-items: right;
}

.options{
    display: flex;
    justify-content: center;
    align-items: center;
}


input {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
}


button {
    padding: 15px 34px;
    margin-right: auto;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 3px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.header {
    background-color: #007bff; 
    display: flex;
    justify-content: space-between; /* Push elements to start and end of container */
    color: #fff; 
    text-align: center; 
    padding: 5px;
    width: 100%; 
    position: fixed; 
    top: 0; 
    z-index: 1000;
}

.header h1 {
    margin: 0; 
    padding: 10px; 
    font-size: 30px;
}